In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [36]:
data_WFP=pd.read_csv("world_food_production.csv")
data_WFP

,Entity,Year,Maize Production (tonnes),Rice Production ( tonnes),Yams Production (tonnes),Wheat Production (tonnes),Tomatoes Production (tonnes),Tea Production ( tonnes ),Sweet potatoes Production (tonnes),Sunflower seed Production (tonnes),...,Oranges Production (tonnes),"Peas, dry Production ( tonnes)",Palm oil Production (tonnes),Grapes Production (tonnes),"Coffee, green Production ( tonnes)",Cocoa beans Production (tonnes),"Meat, chicken Production (tonnes)",Bananas Production ( tonnes),Avocados Production (tonnes),Apples Production (tonnes)
0,Afghanistan,1961,700000.0,319000.00,7.467702e+06,2279000.00,1873812.000,56315.0,3270871.000,12000.000,...,10100.000,232910.000,1131882.00,2.250000e+05,870970.000,835368.000,5600.00,3139079.000,63439.000,15100.000
1,Afghanistan,1962,700000.0,319000.00,7.420515e+06,2279000.00,2044797.000,61519.0,3562524.000,12800.000,...,10100.000,259412.000,1111006.00,2.250000e+05,883512.000,867170.000,6000.00,3181580.000,65118.000,15100.000
2,Afghanistan,1963,713000.0,319000.00,8.479074e+06,1947000.00,2096077.000,63596.0,3409916.000,12800.000,...,10100.000,251529.000,1145004.00,2.250000e+05,996674.000,922621.000,6160.00,3304256.000,61760.000,15100.000
3,Afghanistan,1964,720000.0,380000.00,9.113779e+06,2230000.00,2388264.000,66604.0,3229336.000,12800.000,...,12400.000,247556.000,1160831.00,2.650000e+05,1162048.000,1190061.000,6400.00,3392527.000,62759.000,18400.000
4,Afghanistan,1965,720000.0,380000.00,1.006791e+07,2282000.00,2559608.000,72418.0,3169104.000,13200.000,...,13700.000,266947.000,1138860.00,2.870000e+05,1075084.000,874245.000,6800.00,3450849.000,66269.000,20400.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11907,Zimbabwe,2017,1532572.0,20502618.00,2.673608e+05,30991516.16,324020.864,83904.6,874.408,4077308.066,...,129055.800,40749.600,661978.98,7.018985e+06,63.200,34945.000,75000.00,1267.200,145042.096,1579154.000
11908,Zimbabwe,2018,1560100.0,31871776.60,2.667498e+05,16884482.98,309316.252,66842.6,1383.792,2107639.306,...,168074.000,21606.400,485223.38,3.415107e+06,68.000,34659.800,80357.14,1016.776,143384.384,907419.000
11909,Zimbabwe,2019,773976.0,3382151.40,4.790022e+05,64989733.20,540128.592,9854.4,298831.560,3320915.400,...,1134136.812,45436.400,361128.20,9.645766e+06,30401.400,20961.132,79790.97,195845.198,525095.272,3117813.560
11910,Zimbabwe,2020,1202347.0,3535631.80,7.437612e+05,43020887.20,5635740.200,276279.0,1727311.800,983256.000,...,72179.400,12023.200,279613.40,1.131937e+07,574723.374,158022.122,8000.00,1523258.600,28946.840,7994169.220
11911,Zimbabwe,2021,1469664.0,7575899.96,1.153263e+06,1316724.80,206550.000,145563.0,262706.284,421789.600,...,3597076.600,26225.256,11000.00,3.834786e+05,590070.590,2696.200,8000.00,425303.698,29313.660,112519.364

In [37]:
region = ['Southern Europe', 'Western Europe','Eastern Europe', 'Northern Europe']

In [38]:
europe = ['Albania', 'Andorra', 'Austria', 'Belarus', 'Belgium',
       'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Czechia',
       'Denmark', 'Estonia', 'Faroe Islands', 'Finland', 'France',
       'Germany', 'Gibraltar', 'Greece', 'Hungary', 'Iceland', 'Ireland',
       'Isle of Man', 'Italy', 'Latvia', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Malta', 'Monaco', 'Montenegro', 'Netherlands',
       'North Macedonia', 'Norway', 'Poland', 'Portugal',
       'Republic of Moldova', 'Romania', 'Russian Federation',
       'San Marino', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden',
       'Switzerland', 'Ukraine', 'United Kingdom']        
fil_WFP = data_WFP[data_WFP['Entity'].isin(europe)]
fil_WFP.Entity.unique()
fil_WFP.Entity.nunique()

35

In [39]:
fil_WFP.shape

(1262, 24)

In [40]:
fil_WFP.Year.unique()

array([1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
       1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019, 2020, 2021])

In [41]:
years = [2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019, 2020, 2021]
fil_WFP = fil_WFP[fil_WFP['Year'].isin(years)]
fil_WFP
fil_WFP1 = fil_WFP[fil_WFP['Year']==2003]
#fil_WFP1.columns
fil_WFP1

,Entity,Year,Maize Production (tonnes),Rice Production ( tonnes),Yams Production (tonnes),Wheat Production (tonnes),Tomatoes Production (tonnes),Tea Production ( tonnes ),Sweet potatoes Production (tonnes),Sunflower seed Production (tonnes),...,Oranges Production (tonnes),"Peas, dry Production ( tonnes)",Palm oil Production (tonnes),Grapes Production (tonnes),"Coffee, green Production ( tonnes)",Cocoa beans Production (tonnes),"Meat, chicken Production (tonnes)",Bananas Production ( tonnes),Avocados Production (tonnes),Apples Production (tonnes)
225,Albania,2003,206900.0,0.000000e+00,6.400000e+01,259900.0,456933.0,1130.0,5.433190e+05,1319.00,...,4.400000e+03,2304180.000,50000.00,105500.000,2040.000,200.000,8000.00,250000.00,3485.750,13300.00
799,Austria,2003,1707771.0,2.875000e+03,5.001585e+05,58900.0,6100.0,11934.0,0.000000e+00,19000.00,...,9.509986e+04,0.000,152000.00,0.000,0.000,54959.850,89378.00,650.00,360922.000,119691.00
1042,Belarus,2003,50156.0,6.791990e+06,1.239520e+05,175426.0,83200.0,1101416.0,4.951820e+05,368929.00,...,5.000000e+02,24493.000,23000.00,933204.000,3023.000,6600.000,350.00,3126860.00,95000.000,427062.00
1064,Belgium,2003,554743.0,1.102980e+07,4.078173e+05,311310.0,289803.0,240.0,5.090000e+02,425369.00,...,6.000000e+02,18764.000,108586.00,515709.000,115500.000,2000.000,10733.00,4896480.00,12900.000,410915.00
1377,Bosnia and Herzegovina,2003,545059.0,3.414917e+06,5.670000e+03,850.0,553270.0,4714.0,1.400000e+03,1179695.00,...,1.100000e+04,1275000.000,112290.03,8135300.000,58384.000,46697.720,11000.00,7500.00,18428.000,750000.00
1560,Bulgaria,2003,1161107.0,1.700000e+04,1.656000e+05,10000.0,22000.0,1819.0,3.500000e+04,128997.00,...,1.400000e+05,4500.000,2400.00,20000.000,58500.000,88263.000,4853600.00,5495315.00,100.000,8128.00
2718,Croatia,2003,1279617.0,1.477941e+06,2.037247e+04,44912890.0,17400.0,145.0,7.698033e+04,64333.00,...,4.736200e+04,73933.000,607024.00,978817.000,1039.000,783867.000,46.40,0.00,62000.000,28888.00
2808,Czechia,2003,476371.0,5.824500e+04,1.053900e+06,93199256.0,900.0,746311.4,2.625141e+05,7473.00,...,3.666424e+04,29030.000,128000.00,2221000.000,37000.000,38677.360,65867.00,30340.79,631763.440,149.68
2932,Denmark,2003,0.0,1.031280e+05,8.300000e+03,30493198.0,240254.0,1835.8,1.160880e+05,278056.66,...,6.058768e+06,94916.000,200.00,251788.000,110481.000,4410.000,36000.00,78000.00,289901.000,1308390.00
4045,France,2003,12045464.0,1.623900e+04,1.428800e+04,29521876.0,46686.0,187.0,2.331400e+04,486.00,...,2.102100e+05,19864.640,5288950.00,259000.000,94232.000,210.000,8994728.00,727663.00,8000.000,3203.00
4294,Germany,2003,3421642.0,1.430000e+06,3.243000e+03,110000.0,800.0,434255.0,1.263510e+05,823549.00,...,1.433600e+06,34000.000,44360.00,4103467.000,1500.000,146206.890,5492.00,900.00,5800.000,32307.00
4416,Greece,2003,2503784.5,8.923000e+05,5.000000e+02,103894270.0,1600.0,67096.8,1.881013e+04,79.00,...,3.605000e+05,434493.000,246163.00,1456102.000,3000.000,588691.560,1049000.00,2000.00,29815.000,354000.00
4982,Hungary,2003,4532147.0,1.240894e+08,4.060000e+05,2986689.2,4826396.0,43812.6,2.026000e+03,15100.00,...,8.000000e+04,440213.720,4461914.60,260.000,124415.000,1443.000,1110.00,120000.00,187781.000,716045.00
5352,Italy,2003,8702288.0,1.347550e+05,1.159941e+07,800.0,722400.0,39329.8,9.700000e+03,5063000.00,...,9.500000e+03,44440.000,56734.80,29132.720,10.000,2985764.800,33552238.00,416953.40,1667.190,100.00
6106,Lithuania,2003,2700.0,0.000000e+00,8.287219e+05,6513982.0,18105966.0,155370.6,3.664170e+05,845000.00,...,1.417835e+07,428710.000,1627238.40,97799.000,43278.000,1338.404,622228.00,18703726.00,5116.804,378300.00
6311,Luxembourg,2003,1902.0,8.055067e+06,1.106000e+05,10748662.0,8160.0,860.0,3.109110e+03,3672319.60,...,3.020838e+05,38100.000,297686.40,154000.000,15.350,770.200,103.70,4312833.00,176268.000,194900.00
7460,Netherlands,2003,206000.0,6.465800e+04,3.164080e+04,93692.0,62000.0,16521.8,2.311776e+06,250.00,...,4.079400e+06,2952603.100,40460.00,9846567.200,4389.200,34.800,1200.00,14000.00,1239258.080,2742228.80
7917,North Macedonia,2003,141436.0,2.581980e+07,5.910012e+05,549084.0,116408.0,583095.2,3.800000e+04,14188.80,...,4.298000e+03,5.422,185401.60,155120.000,10585.200,135.630,38183.00,25724.13,73147.600,506040.00
8660,Poland,2003,1883677.0,3.870000e+05,1.342220e+04,227764830.0,2124800.0,99258.8,1.043623e+08,711878.00,...,4.070500e+06,99752.600,360736.00,719393.400,15694.200,129471.800,144686.00,185309.00,41102.000,1226585.10
8721,Portugal,2003,803897.0,1.747000e+07,6.968170e+04,532600.0,2840534.2,259269.4,6.600000e+04,132288.80,...,5.413510e+06,51785.144,40593.20,35010.000,24751.600,836.732,66812.00,150000.00,19480.000,3157051.50
8922,Romania,2003,9576985.0,2.800000e+05,9.076115e+04,30919170.0,30420.0,145.0,3.200000e+02,61672.60,...,7.130000e+04,71769.346,1140.00,1566274.200,18630.400,210616.200,2992778.50,15.28,42589.000,45860.00
9428,Slovakia,2003,601440.0,4.509056e+07,2.432956e+05,5531643.6,3367826.0,59032.8,1.206278e+05,2452507.40,...,7.855060e+04,3980.326,605874.40,841464.490,865.374,92263.600,1102304.50,1500.00,417152.482,1942235.50
9458,Slovenia,2003,224223.0,3.764262e+06,7.124200e+05,75329626.8,7448813.0,31520.4,1.696429e+06,5808708.00,...,3.892744e+05,2182647.920,128409.20,550812.408,64774.000,6984.214,1120.00,13500.00,132753.234,1600.00
10139,Spain,2003,4338700.0,3.346829e+07,5.404904e+03,1070618.2,45057.0,705199.6,3.574200e+05,6400.00,...,1.914441e+05,110390.600,55020.00,1155026.000,83022.624,331751.800,27620.67,17627386.80,64851.758,157454.20
10387,Switzerland,2003,90700.0,1.652261e+05,4.073720e+04,116338240.9,80000.0,114565.2,1.860538e+07,49144.40,...,1.229483e+06,1499059.740,694874.80,5365793.458,108711.124,1376.400,2385.00,31635.40,278888.440,1740193.54
10996,Ukraine,2003,6875100.0,3.164240e+04,2.097670e+07,3677600.0,66893.0,36056.0,1.518267e+05,11357.80,...,3.982770e+05,133558.656,31358.40,57162.200,908489.674,269054.026,80900.00,8307.80,141496.200,21127.20

In [42]:
# List of columns and their corresponding replacement values
columns_values_mapping = {
    'Maize Production (tonnes)': 1,
    'Rice  Production ( tonnes)': 2,
    'Tomatoes Production (tonnes)': 3,
    'Tea  Production ( tonnes )': 4,
    'Sweet potatoes  Production (tonnes)': 5,
    'Sunflower seed  Production (tonnes)': 6,
    'Sugar cane Production (tonnes)': 7,
    'Soybeans  Production (tonnes)': 8,
    'Rye  Production (tonnes)': 9,
    'Potatoes  Production (tonnes)': 10,
    'Oranges  Production (tonnes)': 11,
    'Peas, dry Production ( tonnes)': 12,
    'Palm oil  Production (tonnes)': 13,
    'Grapes  Production (tonnes)': 14,
    'Coffee, green Production ( tonnes)': 15,
    'Cocoa beans Production (tonnes)': 16,
    'Meat, chicken  Production (tonnes)': 21,
    'Bananas  Production ( tonnes)': 17,
    'Avocados Production (tonnes)': 18,
    'Apples Production (tonnes)': 19,
    'Wheat Production (tonnes)': 20,
    'Yams  Production (tonnes)': 22
}

# Iterate over each column and replace values excluding 0.0
for column, value in columns_values_mapping.items():
    mask = (fil_WFP1[column] != 0.0) & (~fil_WFP1[column].isna())
    fil_WFP1.loc[mask, column] = value

fil_WFP1.loc[~fil_WFP1['Maize Production (tonnes)'].isna(), 'Maize Production (tonnes)'] = 1
fil_WFP1.loc[~fil_WFP1['Rice  Production ( tonnes)'].isna(), 'Rice  Production ( tonnes)'] = 2
fil_WFP1.loc[~fil_WFP1['Tomatoes Production (tonnes)'].isna(), 'Tomatoes Production (tonnes)'] = 3
fil_WFP1.loc[~fil_WFP1['Tea  Production ( tonnes )'].isna(), 'Tea  Production ( tonnes )'] = 4
fil_WFP1.loc[~fil_WFP1['Sweet potatoes  Production (tonnes)'].isna(), 'Sweet potatoes  Production (tonnes)'] = 5
fil_WFP1.loc[~fil_WFP1['Sunflower seed  Production (tonnes)'].isna(), 'Sunflower seed  Production (tonnes)'] = 6
fil_WFP1.loc[~fil_WFP1['Sugar cane Production (tonnes)'].isna(), 'Sugar cane Production (tonnes)'] = 7
fil_WFP1.loc[~fil_WFP1['Soybeans  Production (tonnes)'].isna(), 'Soybeans  Production (tonnes)'] = 8
fil_WFP1.loc[~fil_WFP1['Rye  Production (tonnes)'].isna(), 'Rye  Production (tonnes)'] = 9
fil_WFP1.loc[~fil_WFP1['Potatoes  Production (tonnes)'].isna(), 'Potatoes  Production (tonnes)'] = 10
fil_WFP1.loc[~fil_WFP1['Oranges  Production (tonnes)'].isna(), 'Oranges  Production (tonnes)'] = 11
fil_WFP1.loc[~fil_WFP1['Peas, dry Production ( tonnes)'].isna(), 'Peas, dry Production ( tonnes)'] = 12
fil_WFP1.loc[~fil_WFP1['Palm oil  Production (tonnes)'].isna(), 'Palm oil  Production (tonnes)'] = 13
fil_WFP1.loc[~fil_WFP1['Grapes  Production (tonnes)'].isna(), 'Grapes  Production (tonnes)'] = 14
fil_WFP1.loc[~fil_WFP1['Coffee, green Production ( tonnes)'].isna(), 'Coffee, green Production ( tonnes)'] = 15
fil_WFP1.loc[~fil_WFP1['Cocoa beans Production (tonnes)'].isna(), 'Cocoa beans Production (tonnes)'] = 16
fil_WFP1.loc[~fil_WFP1['Bananas  Production ( tonnes)'].isna(), 'Bananas  Production ( tonnes)'] = 17
fil_WFP1.loc[~fil_WFP1['Avocados Production (tonnes)'].isna(), 'Avocados Production (tonnes)'] = 18
fil_WFP1.loc[~fil_WFP1['Apples Production (tonnes)'].isna(), 'Apples Production (tonnes)'] = 19
fil_WFP1.loc[~fil_WFP1['Wheat Production (tonnes)'].isna(), 'Wheat Production (tonnes)'] = 20
fil_WFP1.loc[~fil_WFP1['Meat, chicken  Production (tonnes)'].isna(), 'Meat, chicken  Production (tonnes)'] = 21
fil_WFP1.loc[~fil_WFP1['Yams  Production (tonnes)'].isna(), 'Yams  Production (tonnes)'] = 22

In [43]:
fil_WFP1.drop(columns='Year', inplace=True)

/var/folders/7n/f1mvr75d23s1g67jsx9pn8hr0000gn/T/ipykernel_6125/56950800.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fil_WFP1.drop(columns='Year', inplace=True)

In [44]:
fil_WFP1

,Entity,Maize Production (tonnes),Rice Production ( tonnes),Yams Production (tonnes),Wheat Production (tonnes),Tomatoes Production (tonnes),Tea Production ( tonnes ),Sweet potatoes Production (tonnes),Sunflower seed Production (tonnes),Sugar cane Production (tonnes),...,Oranges Production (tonnes),"Peas, dry Production ( tonnes)",Palm oil Production (tonnes),Grapes Production (tonnes),"Coffee, green Production ( tonnes)",Cocoa beans Production (tonnes),"Meat, chicken Production (tonnes)",Bananas Production ( tonnes),Avocados Production (tonnes),Apples Production (tonnes)
225,Albania,1.0,0.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
799,Austria,1.0,2.0,22.0,20.0,3.0,4.0,0.0,6.0,7.0,...,11.0,0.0,13.0,0.0,0.0,16.0,21.0,17.0,18.0,19.0
1042,Belarus,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
1064,Belgium,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
1377,Bosnia and Herzegovina,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
1560,Bulgaria,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
2718,Croatia,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,0.0,18.0,19.0
2808,Czechia,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
2932,Denmark,0.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
4045,France,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
4294,Germany,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,0.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
4416,Greece,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
4982,Hungary,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
5352,Italy,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
6106,Lithuania,1.0,0.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
6311,Luxembourg,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
7460,Netherlands,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
7917,North Macedonia,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
8660,Poland,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
8721,Portugal,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
8922,Romania,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
9428,Slovakia,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
9458,Slovenia,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
10139,Spain,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
10387,Switzerland,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
10996,Ukraine,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0

In [45]:
# Define the mapping of old column names to new column names
column_mapping = {
    'Maize Production (tonnes)': 'Maize product_id',
    'Rice  Production ( tonnes)': 'Rice product_id',
    'Yams  Production (tonnes)': 'Yams product_id',
    'Wheat Production (tonnes)': 'Wheat product_id',
    'Tomatoes Production (tonnes)': 'Tomatoes product_id',
    'Tea  Production ( tonnes )': 'Tea product_id',
    'Sweet potatoes  Production (tonnes)': 'Sweet potatoes product_id',
    'Sunflower seed  Production (tonnes)': 'Sunflower seed product_id',
    'Sugar cane Production (tonnes)': 'Sugar cane product_id',
    'Soybeans  Production (tonnes)': 'Soybeans product_id',
    'Rye  Production (tonnes)': 'Rye product_id',
    'Potatoes  Production (tonnes)': 'Potatoes product_id',
    'Oranges  Production (tonnes)': 'Oranges product_id',
    'Peas, dry Production ( tonnes)': 'Peas, dry product_id',
    'Palm oil  Production (tonnes)': 'Palm oil product_id',
    'Grapes  Production (tonnes)': 'Grapes product_id',
    'Coffee, green Production ( tonnes)': 'Coffee product_id',
    'Cocoa beans Production (tonnes)': 'Cocoa beans product_id',
    'Meat, chicken  Production (tonnes)': 'Meat, chicken product_id',
    'Bananas  Production ( tonnes)': 'Bananas product_id',
    'Avocados Production (tonnes)': 'Avocados product_id',
    'Apples Production (tonnes)': 'Apples product_id'
}

# Rename the columns inplace
fil_WFP1.rename(columns=column_mapping, inplace=True)

/var/folders/7n/f1mvr75d23s1g67jsx9pn8hr0000gn/T/ipykernel_6125/1040437230.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fil_WFP1.rename(columns=column_mapping, inplace=True)

In [47]:
fil_WFP1.reset_index(inplace=True)
fil_WFP1

,level_0,index,Entity,Maize product_id,Rice product_id,Yams product_id,Wheat product_id,Tomatoes product_id,Tea product_id,Sweet potatoes product_id,...,Oranges product_id,"Peas, dry product_id",Palm oil product_id,Grapes product_id,Coffee product_id,Cocoa beans product_id,"Meat, chicken product_id",Bananas product_id,Avocados product_id,Apples product_id
0,0,225,Albania,1.0,0.0,22.0,20.0,3.0,4.0,5.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
1,1,799,Austria,1.0,2.0,22.0,20.0,3.0,4.0,0.0,...,11.0,0.0,13.0,0.0,0.0,16.0,21.0,17.0,18.0,19.0
2,2,1042,Belarus,1.0,2.0,22.0,20.0,3.0,4.0,5.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
3,3,1064,Belgium,1.0,2.0,22.0,20.0,3.0,4.0,5.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
4,4,1377,Bosnia and Herzegovina,1.0,2.0,22.0,20.0,3.0,4.0,5.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
5,5,1560,Bulgaria,1.0,2.0,22.0,20.0,3.0,4.0,5.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
6,6,2718,Croatia,1.0,2.0,22.0,20.0,3.0,4.0,5.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,0.0,18.0,19.0
7,7,2808,Czechia,1.0,2.0,22.0,20.0,3.0,4.0,5.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
8,8,2932,Denmark,0.0,2.0,22.0,20.0,3.0,4.0,5.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
9,9,4045,France,1.0,2.0,22.0,20.0,3.0,4.0,5.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
10,10,4294,Germany,1.0,2.0,22.0,20.0,3.0,4.0,5.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
11,11,4416,Greece,1.0,2.0,22.0,20.0,3.0,4.0,5.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
12,12,4982,Hungary,1.0,2.0,22.0,20.0,3.0,4.0,5.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
13,13,5352,Italy,1.0,2.0,22.0,20.0,3.0,4.0,5.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
14,14,6106,Lithuania,1.0,0.0,22.0,20.0,3.0,4.0,5.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
15,15,6311,Luxembourg,1.0,2.0,22.0,20.0,3.0,4.0,5.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
16,16,7460,Netherlands,1.0,2.0,22.0,20.0,3.0,4.0,5.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
17,17,7917,North Macedonia,1.0,2.0,22.0,20.0,3.0,4.0,5.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
18,18,8660,Poland,1.0,2.0,22.0,20.0,3.0,4.0,5.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
19,19,8721,Portugal,1.0,2.0,22.0,20.0,3.0,4.0,5.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
20,20,8922,Romania,1.0,2.0,22.0,20.0,3.0,4.0,5.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
21,21,9428,Slovakia,1.0,2.0,22.0,20.0,3.0,4.0,5.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
22,22,9458,Slovenia,1.0,2.0,22.0,20.0,3.0,4.0,5.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
23,23,10139,Spain,1.0,2.0,22.0,20.0,3.0,4.0,5.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
24,24,10387,Switzerland,1.0,2.0,22.0,20.0,3.0,4.0,5.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0
25,25,10996,Ukraine,1.0,2.0,22.0,20.0,3.0,4.0,5.0,...,11.0,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0

In [48]:
fil_WFP1['Country_Id'] = fil_WFP1.index + 1

/var/folders/7n/f1mvr75d23s1g67jsx9pn8hr0000gn/T/ipykernel_6125/1493953773.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fil_WFP1['Country_Id'] = fil_WFP1.index + 1

In [52]:
fil_WFP1.drop(columns=['index','level_0'], inplace=True)

/var/folders/7n/f1mvr75d23s1g67jsx9pn8hr0000gn/T/ipykernel_6125/3545474977.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fil_WFP1.drop(columns=['index','level_0'], inplace=True)

,Entity,Maize product_id,Rice product_id,Yams product_id,Wheat product_id,Tomatoes product_id,Tea product_id,Sweet potatoes product_id,Sunflower seed product_id,Sugar cane product_id,...,"Peas, dry product_id",Palm oil product_id,Grapes product_id,Coffee product_id,Cocoa beans product_id,"Meat, chicken product_id",Bananas product_id,Avocados product_id,Apples product_id,Country_Id
0,Albania,1.0,0.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,1
1,Austria,1.0,2.0,22.0,20.0,3.0,4.0,0.0,6.0,7.0,...,0.0,13.0,0.0,0.0,16.0,21.0,17.0,18.0,19.0,2
2,Belarus,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,3
3,Belgium,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,4
4,Bosnia and Herzegovina,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,5
5,Bulgaria,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,6
6,Croatia,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,0.0,18.0,19.0,7
7,Czechia,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,8
8,Denmark,0.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,9
9,France,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,10
10,Germany,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,0.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,11
11,Greece,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,12
12,Hungary,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,13
13,Italy,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,14
14,Lithuania,1.0,0.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,15
15,Luxembourg,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,16
16,Netherlands,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,17
17,North Macedonia,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,18
18,Poland,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,19
19,Portugal,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,20
20,Romania,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,21
21,Slovakia,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,22
22,Slovenia,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,23
23,Spain,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,24
24,Switzerland,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,25
25,Ukraine,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,26

In [55]:
fil_WFP1.rename(columns={'Entity': 'Country'}, inplace=True)

/var/folders/7n/f1mvr75d23s1g67jsx9pn8hr0000gn/T/ipykernel_6125/3171469927.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fil_WFP1.rename(columns={'Entity': 'Country'}, inplace=True)

In [57]:
fil_WFP1

,Country,Maize product_id,Rice product_id,Yams product_id,Wheat product_id,Tomatoes product_id,Tea product_id,Sweet potatoes product_id,Sunflower seed product_id,Sugar cane product_id,...,"Peas, dry product_id",Palm oil product_id,Grapes product_id,Coffee product_id,Cocoa beans product_id,"Meat, chicken product_id",Bananas product_id,Avocados product_id,Apples product_id,Country_Id
0,Albania,1.0,0.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,1
1,Austria,1.0,2.0,22.0,20.0,3.0,4.0,0.0,6.0,7.0,...,0.0,13.0,0.0,0.0,16.0,21.0,17.0,18.0,19.0,2
2,Belarus,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,3
3,Belgium,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,4
4,Bosnia and Herzegovina,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,5
5,Bulgaria,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,6
6,Croatia,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,0.0,18.0,19.0,7
7,Czechia,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,8
8,Denmark,0.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,9
9,France,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,10
10,Germany,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,0.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,11
11,Greece,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,12
12,Hungary,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,13
13,Italy,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,14
14,Lithuania,1.0,0.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,15
15,Luxembourg,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,16
16,Netherlands,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,17
17,North Macedonia,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,18
18,Poland,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,19
19,Portugal,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,20
20,Romania,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,21
21,Slovakia,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,22
22,Slovenia,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,23
23,Spain,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,24
24,Switzerland,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,25
25,Ukraine,1.0,2.0,22.0,20.0,3.0,4.0,5.0,6.0,7.0,...,12.0,13.0,14.0,15.0,16.0,21.0,17.0,18.0,19.0,26

fil_WFP_Avg_year = fil_WFP.mean()
fil_WFP_Avg_year
fil_WFP_Avg_year = fil_WFP.drop(columns=['Entity']).mean()

In [56]:
fil_WFP1.to_csv('country_product_id.csv', index=False)